{% extends 'movie_app/dashboard_base.html' %}
{% block body_block %}
    <div class="container">
        <br>
        <br>
        <hr>
        <div class="row-fluid">
            <div class="row">
                <div class="search-container">
                    <form action="{% url 'dashboard_reviews' %}" method="get">
                        <div class="form-group col-md-12">
                          <label for="inputState">Sort by</label>
                          <select id="inputState" class="form-control" name="sort_val">
                                <option selected value="">Choose...</option>
                              {% for type in sort_types %}
                                <option value='{{type.id}}'>{{ type.name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                    <input type="submit" name="" value="Search">
                    </form>
                </div>
            </div>
            {% for rating in ratings_page %}
            <div class="col-sm-6">
                <div class="card">
                    <h5 class="card-header">{{ rating.title }}</h5>
                    <div class="card-body">
                        <p class="card-text">{{ rating.description }}</p>
                        <small>
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <span itemprop="name">-- {{ rating.userid }}</span>
                        </span>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

                            <meta itemprop="datePublished" content="01-01-2016">
                            {{ rating.updated_at }}

                            <span class="pull-right">
                                <span class="badge badge-warning"> {{ rating.rating }} / 5</span>
                                <br>
                                <span> <i class="fa fa-thumbs-o-up"></i> {{ rating.up_votes }}</span>
                                <br>
                                <span> <i class="fa fa-thumbs-o-down"></i> {{ rating.down_votes }}</span>
                                <br>
                                <a href="{% url 'dashboard_review_update' review_id=rating.id %}">
                                <button class="btn btn-success">Update</button>
                                </a>
                                <a href="{% url 'dashboard_review_delete' review_id=rating.id %}">
                                <button class="btn btn-danger">Delete</button>
                                </a>
                          </span>
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}