{% extends 'movie_app/base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4 badge-success">{{ movie.original_title }}
        </h1>
        {% if movie.tagline %}
            <h3 class="badge-info">{{ movie.tagline }}</h3>
        {% endif %}
        <div class="progress" style="height: 30px">
            <div class="progress-bar bg-dark" role="progressbar" style="width: {% widthratio rating_bar.one rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.one }}" aria-valuemin="0"
                 aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"></span></div>
            <div class="progress-bar bg-info" role="progressbar" style="width: {% widthratio rating_bar.two rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.two }}" aria-valuemin="0"
                 aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span class="fa fa-star"></span></span></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: {% widthratio rating_bar.three rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.three }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span></span></span></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: {% widthratio rating_bar.four rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.four }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span></span></span></span></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {% widthratio rating_bar.five rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.five }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span></span></span></span></span></div>
        </div>
        <br>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-7">
                {% if movie.poster_path %}
                    <img class="img-fluid" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
                         class="img-responsive" style="width:100%"
                         alt="Image">
                {% else %}
                    <img class="img-fluid" src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                         style="width:100%"
                         alt="Image">
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if movie.popularity %}
                    <h2><span class="badge badge-warning">IMDB {{ movie.vote_average }} / 10</span></h2>
                {% endif %}
                <h3 class="my-3 badge-success">{{ movie.title }}</h3>
                {% if movie.languages %}
                    <h3 class="my-3">
                        {% for language in movie.languages %}
                            <span>{{ language.name }}</span>
                        {% endfor %}
                    </h3>
                {% endif %}
                {% if genres %}
                    <h6 class="my-3">
                        {% for genre in genres %}
                            {% if forloop.last %}
                                <span>{{ genre.name|upper }}</span>
                            {% else %}
                                <span>{{ genre.name|upper }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h6>
                {% endif %}
                {% if production_countries %}
                    <h7 class="my-3">
                        {% for production_country in production_countries %}
                            {% if forloop.last %}
                                <span class="flag-icon flag-icon-{{ production_country.iso_639_1|lower }}"></span>
                                <span>{{ production_country.name }}</span>
                            {% else %}
                                <span class="flag-icon flag-icon-{{ production_country.iso_639_1|lower }}"></span>
                                <span>{{ production_country.name }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h7>
                {% endif %}
                <br>
                {% if production_companies %}
                    <h7 class="my-3">
                        {% for production_company in production_companies %}
                            {% if forloop.last %}
                                <span>{{ production_company.name }}</span>
                            {% else %}
                                <span>{{ production_company.name }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h7>
                {% endif %}
                {% if casts %}
                    <h4>Casts:</h4>
                    <p>
                        {% for cast in casts %}
                            {% if forloop.last %}
                                <a href="#">{{ cast.name }}
                                </a>
                            {% else %}
                                <a href="#">{{ cast.name }}
                                </a>,
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <ul class="list-unstyled">
                    <li>Year: {{ movie.release_date }}</li>
                    <li>Runtime: {{ movie.runtime }}</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->
        <p>{{ movie.overview }}</p>
        <!-- /.container -->
{% endblock %}