{% extends 'movie_app/base.html' %}
{% load static %}
{% block body_block %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0-4/js/all.js"></script>#}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4 badge-success">{{ movie.original_title }}
        </h1>
        {% if movie.tagline %}
            <h3 class="badge-info">{{ movie.tagline }}</h3>
        {% endif %}
        <div class="progress" style="height: 30px">
            <div class="progress-bar bg-dark" role="progressbar"
                 style="width: {% widthratio rating_bar.one rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.one }}"
                 aria-valuemin="0"
                 aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"></span></div>
            <div class="progress-bar bg-info" role="progressbar"
                 style="width: {% widthratio rating_bar.two rating_bar.sum 100 %}%" aria-valuenow="{{ rating_bar.two }}"
                 aria-valuemin="0"
                 aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span class="fa fa-star"></span></span>
            </div>
            <div class="progress-bar bg-warning" role="progressbar"
                 style="width: {% widthratio rating_bar.three rating_bar.sum 100 %}%"
                 aria-valuenow="{{ rating_bar.three }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span
                    class="fa fa-star"><span class="fa fa-star"></span></span></span></div>
            <div class="progress-bar bg-success" role="progressbar"
                 style="width: {% widthratio rating_bar.four rating_bar.sum 100 %}%"
                 aria-valuenow="{{ rating_bar.four }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span
                    class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span></span></span></span>
            </div>
            <div class="progress-bar bg-danger" role="progressbar"
                 style="width: {% widthratio rating_bar.five rating_bar.sum 100 %}%"
                 aria-valuenow="{{ rating_bar.five }}"
                 aria-valuemin="0" aria-valuemax="{{ rating_bar.sum }}"><span class="fa fa-star"><span
                    class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span
                    class="fa fa-star"></span></span></span></span></span></div>
        </div>
        <br>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-7">
                {% if movie.poster_path %}
                    <img class="img-fluid" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"
                         class="img-responsive" style="width:100%"
                         alt="Image">
                {% else %}
                    <img class="img-fluid" src="https://placehold.it/150x80?text=IMAGE" class="img-responsive"
                         style="width:100%"
                         alt="Image">
                {% endif %}
            </div>
            <div class="col-md-5">
                {% if movie.popularity %}
                    <h2><span class="badge badge-warning">IMDB {{ movie.vote_average }} / 10</span></h2>
                {% endif %}
                <h3 class="my-3 badge-success">{{ movie.title }}</h3>
                {% if movie.languages %}
                    <h3 class="my-3">
                        {% for language in movie.languages %}
                            <span>{{ language.name }}</span>
                        {% endfor %}
                    </h3>
                {% endif %}
                {% if genres %}
                    <h6 class="my-3">
                        {% for genre in genres %}
                            {% if forloop.last %}
                                <span>{{ genre.name|upper }}</span>
                            {% else %}
                                <span>{{ genre.name|upper }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h6>
                {% endif %}
                {% if production_countries %}
                    <h7 class="my-3">
                        {% for production_country in production_countries %}
                            {% if forloop.last %}
                                <span class="flag-icon flag-icon-{{ production_country.iso_639_1|lower }}"></span>
                                <span>{{ production_country.name }}</span>
                            {% else %}
                                <span class="flag-icon flag-icon-{{ production_country.iso_639_1|lower }}"></span>
                                <span>{{ production_country.name }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h7>
                {% endif %}
                <br>
                {% if production_companies %}
                    <h7 class="my-3">
                        {% for production_company in production_companies %}
                            {% if forloop.last %}
                                <span>{{ production_company.name }}</span>
                            {% else %}
                                <span>{{ production_company.name }} |</span>
                            {% endif %}
                        {% endfor %}
                    </h7>
                {% endif %}
                {% if casts %}
                    <h4>Casts:</h4>
                    <p>
                        {% for cast in casts %}
                            {% if forloop.last %}
                                <a href="#">{{ cast.name }}
                                </a>
                            {% else %}
                                <a href="#">{{ cast.name }}
                                </a>,
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <ul class="list-unstyled">
                    <li>Year: {{ movie.release_date }}</li>
                    <li>Runtime: {{ movie.runtime }}</li>
                </ul>
            </div>
            <p>{{ movie.overview }}</p>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="row">
        <div class="search-container">
            <form action="{% url 'movie_app:details' movie_id=movie.movieid %}" method="get">
                <div class="form-group col-md-12">
                    <label for="inputState">Sort by</label>
                    <select id="inputState" class="form-control" name="sort_val">
                        <option selected value="">Choose...</option>
                        {% for type in sort_types %}
                            <option value='{{ type.id }}'>{{ type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" name="" value="Search">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <form enctype="multipart/form-data" method="POST">


                    <div class="card">
                        <h5 class="card-header"> Add Review
                        </h5>

                        <div class="card-body">
                            <div class="col-md-2">
                                {% csrf_token %}
                                {{ rating_form.as_p }}
                                <input type="submit" value="Submit">
                            </div>
                            <div class="col-md-10">
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>


                </form>
            {% endif %}
        </div>
        {% for rating in ratings_page %}
            <div class="col-md-12">
                <br>

                <div class="card">
                    <h5 class="card-header"><span
                            class="badge badge-warning"> {{ rating.rating }} / 5</span> {{ rating.title }} <br>
                        <a href="{% url 'movie_app:movie_ratings_vote' rating_id=rating.id vote_value=1 %}"><i
                                class="fa fa-thumbs-o-up"></i></a> {{ rating.up_votes }}
                        <a href="{% url 'movie_app:movie_ratings_vote' rating_id=rating.id vote_value=0 %}"><i
                                class="fa fa-thumbs-o-down"></i></a> {{ rating.down_votes }}

                    </h5>

                    <div class="card-body">
                        <div class="col-md-2">
                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                 class="img img-rounded img-fluid max-width: 25%"/>
                            <p class="text-secondary text-center"><span itemprop="name"> {{ rating.userid }}</span></p>
                        </div>
                        <div class="col-md-10">
                            <h4 class="card-text">{{ rating.description }} </h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <p class="text-secondary">
                                <span>Last modification: {{ rating.updated_at }}</span>
                                <br>
                                <i class="far fa-calendar-alt"></i>
                                <span>Created at: {{ rating.created_at }}</span>
                            </p>
                        </h5>
                    </div>
                </div>
            </div>

        {% endfor %}
        <div class="row" style="background-color: #1abc9c">
            <div class="container">
                <div class="pagination">
                    <span class="step-links">
                        {% if ratings_page.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ ratings_page.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ ratings_page.number }} of {{ ratings_page.paginator.num_pages }}.
                        </span>

                        {% if ratings_page.has_next %}
                            <a href="?page={{ ratings_page.next_page_number }}">next</a>
                            <a href="?page={{ ratings_page.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}